<h3>Учет ремонтируемых а/м в Автосервисе</h3>

  <form action="/client" method="POST" role="form"><br>
    <div class="p-3 mb-2 bg-warning text-dark"><br>
      <div class="col-md-3 position-relative">
        <label>Введите Гос. номер а/м</label>
          <input name="number_auto" type="text" class="form-control" placeholder="Гос. Номер а/м" value="<%=@number_auto%>">
      </div>

      <div class="col-md-3 position-relative">
        <label for="exampleDataList" class="form-label">Выберите марку а/м</label>
          <input name="auto" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Марка а/м..." value="<%=@auto%>">
           <datalist id="datalistOptions">
              <option value="AUDI">
              <option value="ACURA">
              <option value="BMW">
              <option value="CHEVROLET">
              <option value="CHERY">
              <option value="CITROEN">
              <option value="DAEWOO">
              <option value="DODGE">
              <option value="DAIHATSU">
              <option value="DATSUN">
              <option value="FORD">
              <option value="FIAT">
              <option value="INFINITI">
              <option value="GEELY">
              <option value="GENESIS">
              <option value="GREAT WALL">
              <option value="HAVAL">
              <option value="HONDA">
              <option value="HYUNDAI">
              <option value="KIA">
              <option value="LEXUS">
              <option value="LIFAN">
              <option value="MAZDA">
              <option value="MINI">
              <option value="MITSUBISHI">
              <option value="NISSAN">
              <option value="OPEL">
              <option value="PEUGEOT">
              <option value="RAVON">
              <option value="RENAULT">
              <option value="ROVER">
              <option value="SEAT">
              <option value="SKODA">
              <option value="SSANGYONG">
              <option value="SUZUKI">
              <option value="TOYOTA">
              <option value="VOLKSWAGEN">
              <option value="UAZ">
              <option value="VAZ">
              <option value="ZAZ">
              <option value="GAZ">
            </datalist>
      </div>

      <div class="col-md-3 position-relative">
        <label>Введите модель а/м</label>
          <input name="modelauto" type="text" value="<%=@modelauto%>" class="form-control" placeholder="Модель а/м">
      </div>

      <div class="col-md-3 position-relative">
        <label>Введите пробег а/м в км.</label>
          <input name="km" type="text" class="form-control" placeholder="Пробег км." value="<%=@km%>">
      </div><br><br><br>

      <br><div class="mb-3">
        <label name="deffect" for="exampleFormControlTextarea1" class="form-label">Введите неисправности а/м на которые жалуется владелец </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" style="width: 600px" placeholder="заполните данные о состоянии а/м"></textarea>
      </div><br>

      <div class="col-md-3 position-relative" style="width: 200px">
            <label>HW: ID, SW: ID, ECI: ID</label>
            <input name="ecu" type="text" class="form-control" placeholder="SW ID, HW ECU, эбу, вин" value="<%=@ecu%>">
      </div>

      <div class="col-md-3 position-relative">
        <label>Ваш телефон</label>
          <input name="phone" type="text" class="form-control" placeholder="Ваш телефон" value="<%=@phone%>">
      </div>

      <div class="col-md-3 position-relative" style="width: 150px"> 
            <label>Цена услуг</label>
            <input name="price" type="text" class="form-control" placeholder="Цена услуг" value="<%=@price%>">      
     </div><hr /><hr /><hr /><hr />

      <div class = "form-group col col-md-4 col-sm-4 col-12">
            <button type="submit" class="btn btn-primary" style="width: 170px"><< В в о д >></button>
      </div><hr /><hr />

</form>


<form method="POST" action="/admin/showclients">
<h4>Открыть таблицу клиентов</h4>
  <a href="showclients"><button type="button">Список клиентов</button></a>
 
</form>