<h4>Страница пользователя для автосервиса</h4>
						
<table class="table table-striped">
  <thead>
    <tr>
      <th>Марка а/м</th>
      <th>Модель а/м</th>
      <th>Гос Номер а/м</th>
      <th>Пробег</th>
      <th>Идентификатор</th>
      <th>Неисправность<th>
      <th>Телефон</th>
    </tr>
  </thead>

    <tbody>

      <% @results.each do |row| %>

        <tr <%= "style='background-color: ; color: grey;'" if row == @results.first %>>
          <td><%= row['auto'] %></td>
          <td><%= row['modelauto'] %></td>
          <td><%= row['number_auto'] %></td>
          <td><%= row['km'] %></td>
          <td><%= row['ecu'] %></td>
          <td><%= row['deffect'] %></td>
          <td><%= row['phone'] %></td>
        </tr>

      <% end %>
    </tbody>

</table>