<h3>Страница пользователя для автосервиса</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Марка авто</th>
      <th>Номер а/м</th>
      <th>Дата и время</th>
    </tr>
  </thead><br><br>

  <body>

  <% @results.each do |row| %>

    <tr <%= "style='background-color: color: grey;'" if row == @results.first %>>
      <td><%= row['username'] %></td>
      <td><%= row['phone'] %></td>
      <td><%= row['modelauto'] %></td>
      <td><%= row['number_auto'] %></td>
      <td><%= row['date_time'] %></td>
    </tr>

<% end %>
</body>

</table>