<h3>Страница пользователя для автосервиса</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Телефон</th>
      <th>Марка авто</th>
      <th>Номер а/м</th>
      <th>Дата и время</th>
    </tr>
  </thead></br></br>

  <body>

  <% @results.each do |row| %>

    <tr <%= "style='background-color: red; color: grey;'" if row == @results.first %>>
      <td><%= row['username'] %></td>
      <td><%= row['Phone'] %></td>
      <td><%= row['Modelauto'] %></td>
      <td><%= row['Number_auto'] %></td>
      <td><%= row['Date_time'] %></td>
    </tr>

<% end %>
</body>

</table>